h2{
    font-size: 20px;
}

figure{
    background-color: brown;
    height: 350px;
    border-radius: 10px;
}
span{
    display: flex;
    justify-content: space-between;
}
h1, h3{
    font-size: 18px;
    font-weight: bold;
    color:white;
}  
h1{
    color: #BE8958;
}

h3{
    display: flex;
    margin:3px;
    padding: 10px;
    background-color:#BE8958;
    border-radius: 10px;
}


